<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    <add name="DbProducts" connectionString="SERVER=localhost; DATABASE=products; UID=root; PASSWORD=" providerName="MySql.Data.MySqlClient" />
    <add name="DbExperdition" connectionString="SERVER=localhost; DATABASE=expedition; UID=root; PASSWORD=" providerName="MySql.Data.MySqlClient" />
  -->
    <add name="DbProducts" connectionString="SERVER=10.133.50.5; DATABASE=Products; UID=odbc; PASSWORD=odbc; PORT=33062" providerName="MySql.Data.MySqlClient" />
    <add name="DbExperdition" connectionString="SERVER=10.133.50.5; DATABASE=expedition; UID=odbc; PASSWORD=odbc; PORT=33063" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>